/*CSS do Memo */


body		{
			
			font-family: Arial;
			font-size: 1.5em;			
			background-color: #220000;			
			color: white;			
			}

#ramka	{
			
			margin-left: auto;
			margin-right: auto;
			color: blue;	
	}
	
.pole		{

			float: left;		
			width: 108px;
			height: 108px;
			margin-left: 10px;
			margin-top: 10px;	
			background-color: yellow;
			background-position: center center;			
	}
	
#testowy {
			position: absolute;
			right: 50px;
			top: 20px;
			width: 370px;
			height: 500px;
			border: 1px solid yellow;	
			background-color: pink;
			color: black;
			overflow: scroll;	
	}
	
#resetuj	{
			display: block;	
			margin-top: 10px;			
			margin-left: auto;
			margin-right: auto;
		
	
	}
.pudlo2	{
			float: left;
			height: 100px;
			width: 100px;
			border: 1px solid blue;	
	
	}
#menu		{
			position: absolute;
			top: 0;	
			width: 300px;
			height: 430px;
			margin: 10px;
			border: 1px solid white;
			font-size: 20px;
	}
input		{
			
			width: 80px;
			height: 40px;
			margin-left: 20px;
			font-family: Tahoma;
			font-size: 20px;
			font-weight: bold;
			}
.inputB	{
			
			margin-top: 5px;
			margin-left: 20px;
			margin-right: 20px;
			padding-left: 20px;
			padding-bottom: 5px;
	}
	
#ramCzas	{
			margin: 10px;
			position: absolute;
			top: 450px;	
			font-family: Arial;
	}
	
#czas {
		
		float: right;	
		margin-left: 10px;	
		}
